.example-container {
  height: 870px;
  overflow: auto;
}
.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-right:10px;
}
th.mat-sort-header-sorted {
  color: black;
}

table {
    width: 100%;
  }

.refreshbnt{
  margin-left:50px;
}
.btn{
  width: 9%;
}

