<h2 mat-dialog-title>Add New Data</h2>
<mat-dialog-content >
    <div class="example-container">
        <mat-form-field>
            <input  #title [formControl]="tileFormControl" matInput placeholder="หัวข้อเรื่อง" required>
            <mat-error *ngIf="tileFormControl.hasError('required')">
                Title is <strong>required</strong>
            </mat-error>
            
        </mat-form-field>
        <mat-form-field>
            <input #docnumber matInput placeholder="เลขที่หนังสือ" >
                <!-- AutoCompete docOwner-->
            
                <!-- AutoCompete docOwner-->
        </mat-form-field>  
              
        <mat-form-field>
            <input #docowner matInput placeholder="เจ้าของเรื่อง" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <!-- AutoCompete docOwner-->
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            <!-- AutoCompete docOwner-->
        </mat-form-field>

        <mat-form-field >
            <input #docdate  matInput [matDatepicker]="picker" placeholder="วันที่ของเอกสาร">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <textarea #comment maxlength="256" matInput placeholder="หมายเหตุ" required></textarea>
            <mat-hint align="end">{{comment.value.length}} / 256</mat-hint>
        </mat-form-field>

        <!-- 
        <mat-form-field>
            <input #v4 matInput placeholder="ต้นฉบับ">
        </mat-form-field>

        <mat-form-field>
            <input type="number" #v5 matInput placeholder="จำนวนเงิน">
        </mat-form-field>
              
        <mat-form-field>
            <mat-select #v6 placeholder="สถานะ">
                <mat-option value="กำลังดำเนินการ">กำลังดำเนินการ</mat-option>
                <mat-option value="เสร็จ">เสร็จ</mat-option>
            </mat-select>
        </mat-form-field> 
        -->
        
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="submit" mat-flat-button mat-dialog-close (click)=" adddata(title.value,docowner.value,docdate.value,comment.value,docnumber.value)">ENTER</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
