<h2 mat-dialog-title>Classification Data</h2>
<mat-dialog-content >
    <div class="example-container">
        <mat-form-field  >
            <mat-select #files placeholder="แฟ้มเอกสาร" [value]="ob.files" >
                <mat-option value="คำสั่ง มกค.">คำสั่ง มกค.</mat-option>
                <mat-option value="คำสั่งคณะวิทยาศาสตร์">คำสั่งคณะวิทยาศาสตร์</mat-option>
                <mat-option value="ประกาศ มกค.">ประกาศ มกค.</mat-option>
                <mat-option value="ประกาศคณะวิทยาศาสตร์">ประกาศคณะวิทยาศาสตร์</mat-option>
                <mat-option value="กฏ/ระเบียบ/ข้อบังคับ">กฏ/ระเบียบ/ข้อบังคับ</mat-option>
                <mat-option value="ค่าตอบแทน">ค่าตอบแทน</mat-option>
                <mat-option value="รายจ่ายประจำและค่าใช้จ่ายอื่นๆ">รายจ่ายประจำและค่าใช้จ่ายอื่นๆ</mat-option>
                <mat-option value="การบริจาค">การบริจาค</mat-option>
                <mat-option value="ฝ่ายส่งเสริมกิจกรรมนักศึกษา">ฝ่ายส่งเสริมกิจกรรมนักศึกษา</mat-option>
                <mat-option value="งบประมาณประจำปี">งบประมาณประจำปี</mat-option>
                <mat-option value="งบพัฒนาคณะวิทยาศาสตร์">งบพัฒนาคณะวิทยาศาสตร์</mat-option>
                <mat-option value="หน้าที่ความรับผิดชอบ">หน้าที่ความรับผิดชอบ</mat-option>
                <mat-option value="รับสมัคร/บรรจุ/แต่งตั้ง/ลาออกเลื่อนระดับ/ปรับวุฒิ">รับสมัคร/บรรจุ/แต่งตั้ง/ลาออกเลื่อนระดับ/ปรับวุฒิ</mat-option>
                <mat-option value="ประวัติ/รายชื่อบุคลากรประจำปี">ประวัติ/รายชื่อบุคลากรประจำปี</mat-option>
                <mat-option value="สรุปวันลา">สรุปวันลา</mat-option>
                <mat-option value="การไปGIFT">การไปGIFT</mat-option>
                <mat-option value="การลาศึกษาต่อ">การลาศึกษาต่อ</mat-option>
                <mat-option value="ประชุม/อบรม/สัมมนาในต่างประเทศ">ประชุม/อบรม/สัมมนา ต่างประเทศ</mat-option>
                <mat-option value="ประชุม/อบรม/สัมมนาในประเทศ">ประชุม/อบรม/สัมมนา ในประเทศ</mat-option>
                <mat-option value="การนำเสนอผลงาน">การนำเสนอผลงาน</mat-option>
                <mat-option value="การเป็นวิทยากร/กรรมการวิชาชีพอาจารย์พิเศษ ฯลฯ">การเป็นวิทยากร/กรรมการวิชาชีพอาจารย์พิเศษ ฯลฯ</mat-option>
                <mat-option value="การขอตำแหน่งทางวิชาการ/การรักษาสภาพ">การขอตำแหน่งทางวิชาการ/การรักษาสภาพ</mat-option>
                <mat-option value="การดำรงตำแหน่ง/โครงสร้างการบริหาร/นโยบาย">การดำรงตำแหน่ง/โครงสร้างการบริหาร/นโยบาย</mat-option>
                <mat-option value="ฝ่ายบริหาร">ฝ่ายบริหาร</mat-option>
                <mat-option value="ฝ่ายงบประมาณ">ฝ่ายงบประมาณ</mat-option>
                <mat-option value="ฝ่ายบุคลากร">ฝ่ายบุคลากร</mat-option>
                <mat-option value="ฝ่ายกิจการพิเศษและส่งเสริมศิลปวัฒนธรรม">ฝ่ายกิจการพิเศษและส่งเสริมศิลปวัฒนธรรม</mat-option>
                <mat-option value="ฝ่ายประกันคุณภาพการศึกษา">ฝ่ายประกันคุณภาพการศึกษา</mat-option>
                <mat-option value="ฝ่ายวิชาการ">ฝ่ายวิชาการ</mat-option>
                <mat-option value="ฝ่ายตารางสอน">ฝ่ายตารางสอน</mat-option>
                <mat-option value="ฝ่ายวิจัยเพื่อปรับปรุงการดำเนินงาน">ฝ่ายวิจัยเพื่อปรับปรุงการดำเนินงาน</mat-option>
                <mat-option value="ฝ่ายตรวจทานคะแนน">ฝ่ายตรวจทานคะแนน</mat-option>
                <mat-option value="ฝ่ายประเมิณผลการเรียนการสอนและอาจารย์ที่ปรึกษา">ฝ่ายประเมิณผลการเรียนการสอนและอาจารย์ที่ปรึกษา</mat-option>
                <mat-option value="ฝ่ายดูแลระบบปฏิบัติการคอมพิวเตอร์">ฝ่ายดูแลระบบปฏิบัติการคอมพิวเตอร์</mat-option>
                <mat-option value="ฝ่ายดูแลระบบปฏิบัติการทางวิทยาศาตร์">ฝ่ายดูแลระบบปฏิบัติการทางวิทยาศาตร์</mat-option>
                <mat-option value="ฝ่ายประชาสัมพันธ์">ฝ่ายประชาสัมพันธ์</mat-option>
                <mat-option value="ฝ่ายบริการวิชาการสู่ธุรกิจและสังคม">ฝ่ายบริการวิชาการสู่ธุรกิจและสังคม</mat-option>
                <mat-option value="วันสถาปนาคณะฯ">วันสถาปนาคณะฯ</mat-option>
                <mat-option value="พิธีประสาทปริญญา">พิธีประสาทปริญญา</mat-option>
                <mat-option value="ปฐมนิเทศ/ไหว้ครู/ปัจฉิมเทศ">ปฐมนิเทศ/ไหว้ครู/ปัจฉิมเทศ</mat-option>
                <mat-option value="ประชุมคณะกรรมการประจำคณะวิทยาศาสตร์">ประชุมคณะกรรมการประจำคณะวิทยาศาสตร์</mat-option>
                <mat-option value="ประชุมคณะจารย์และเจ้าหน้าที่">ประชุมคณะจารย์และเจ้าหน้าที่</mat-option>
                <mat-option value="ประชุมเจ้าหน้าที่คณะวิทยาศาตร์">ประชุมเจ้าหน้าที่คณะวิทยาศาตร์</mat-option>
                <mat-option value="มติที่ประชุม กบม.">มติที่ประชุม กบม.</mat-option>
                <mat-option value="งานพัสดุ(ซื้อ/ซ่อม/คืน)">งานพัสดุ(ซื้อ/ซ่อม/คืน)</mat-option>
                <mat-option value="เทคโนโลยีดิจิตัล">เทคโนโลยดิจิตัล</mat-option>
                <mat-option value="การจัดการข้อมูลขนาดใหญ่">การจัดการข้อมูลขนาดใหญ่</mat-option>
                <mat-option value="แผนงานคณะฯ">แผนงานคณะฯ</mat-option>
                <mat-option value="โครงการดำเนินการ(KPls)">โครงการดำเนินการ(KPls)</mat-option>
                <mat-option value="งานวิจัยภายนอก">งานวิจัยภายนอก</mat-option>
                <mat-option value="โครงการ/กิจกรรมนักศึกษา">โครงการ/กิจกรรมนักศึกษา</mat-option>
                <mat-option value="ฝึกงาน/ดูงาน">ฝึกงาน/ดูงาน</mat-option>
                <mat-option value="กองทุนนักศึกษาขาดแคลน">กองทุนนักศึกษาขาดแคลน</mat-option>
                <mat-option value="หนังสือรับรอง/คำร้องนักศึกษา">หนังสือรับรอง/คำร้องนักศึกษา</mat-option>
                <mat-option value="ทุนการึกษาคณะ/มหาวิทยาลัย">ทุนการึกษาคณะ/มหาวิทยาลัย</mat-option>
                <mat-option value="การขอรับรองมาตรฐานการศึกษา">การขอรับรองมาตรฐานการศึกษา</mat-option>
                <mat-option value="การปรับปรุงหลักสูตร">การปรับปรุงหลักสูตร</mat-option>
                <mat-option value="การประเมินหลักสูตร">การประเมินหลักสูตร</mat-option>
                <mat-option value="วิทยาการคอมพิวเตอร์ นานาชาติ ป.ตรี">วิทยาการคอมพิวเตอร์ นานาชาติ ป.ตรี</mat-option>
                <mat-option value="วิทยาการคอมพิวเตอร์ นานาชาติ ป.โท">วิทยาการคอมพิวเตอร์ นานาชาติ ป.โท</mat-option>
                <mat-option value="วิทยาการคอมพิวเตอร์">วิทยาการคอมพิวเตอร์</mat-option>
                <mat-option value="วิทยาศาสตร์และเทคโนโลยีการอาหาร">วิทยาศาสตร์และเทคโนโลยีการอาหาร</mat-option>
                <mat-option value="เทคโนโลยีสารสนเทศและการสื่อสาร">เทคโนโลยีสารสนเทศและการสื่อสาร</mat-option>
                <mat-option value="วิศวกรรมการเงิน">วิศวกรรมการเงิน</mat-option>
                <mat-option value="วันสถาปนามหาวิทยาลัย">วันสถาปนามหาวิทยาลัย</mat-option>
                <mat-option value="คอมพิวเตอร์แอนิเมชั่น">คอมพิวเตอร์แอนิเมชั่น</mat-option>
                <mat-option value="การจัดการธุรกิจอาหาร">การจัดการธุรกิจอาหาร</mat-option>
                <mat-option value="วิทยาศาสตร์พื้นฐานและบริการ">วิทยาศาสตร์พื้นฐานและบริการ</mat-option>
                <mat-option value="IDTM(ปริญญาโท)">IDTM(ปริญญาโท)</mat-option>
                <mat-option value="Hi-Tect(การจัดการนวัตกรรม)">Hi-Tect(การจัดการนวัตกรรม)</mat-option>
                <mat-option value="คอมพิวเอร์ธุรกิจ">คอมพิวเอร์ธุรกิจ</mat-option>
                <mat-option value="อาจารย์พิเศษ">อาจารย์พิเศษ</mat-option>
                <mat-option value="หลักสูตรปริญญาเอก">หลักสูตรปริญญาเอก</mat-option>
                <mat-option value="สหวิทยาการ">สหวิทยาการ</mat-option>
                <mat-option value="วิศวกรรมการเงิน(ปริญญาโท)">วิศวกรรมการเงิน(ปริญญาโท)</mat-option>
                <mat-option value="กรรมการประเมินผลการศึกษา">กรรมการประเมินผลการศึกษา</mat-option>
                <mat-option value="โครงการศูนย์นวัตกรรม">โครงการศูนย์นวัตกรรม</mat-option>
                <mat-option value="โครงการเลี้ยงตนเอง">โครงการเลี้ยงตนเอง</mat-option>
                <mat-option value="โครงการบริการวิชาการแก่สังคม">โครงการบริการวิชาการแก่สังคม</mat-option>
                <mat-option value="การจัดการบรรยายพิเศษ">การจัดการบรรยายพิเศษ</mat-option>
                <mat-option value="อาจารย์ประจำสัญญาจ้าง">อาจารย์ประจำสัญญาจ้าง</mat-option>
                <mat-option value="ข้อตกลงความร่วมมือทางวิชาการ(MOU)">ข้อตกลงความร่วมมือทางวิชาการ(MOU)</mat-option>
                <mat-option value="งานวิจัยที่ขอรับเงินรางวัล">งานวิจัยที่ขอรับเงินรางวัล</mat-option>
                <mat-option value="มติที่ประชุม กอม./ทปค.ทปฝ.">มติที่ประชุม กอม./ทปค.ทปฝ.</mat-option>
                <mat-option value="มติที่ประชุมสภา">มติที่ประชุมสภา</mat-option>
                <mat-option value="หนังสือเข้า">หนังสือเข้า</mat-option>
                <mat-option value="หนังสือออก">หนังสือออก</mat-option>
                <mat-option value="ธุรกิจเกมและอีสปอร์ต">ธุรกิจเกมและอีสปอร์ต</mat-option>
                <mat-option value="หนังสือโต้ตอบ(หน่วยงานภายใน)">หนังสือโต้ตอบ(หน่วยงานภายใน)</mat-option>
                <mat-option value="โครงการ IT Exit Exam">โครงการ IT Exit Exam</mat-option>
                <mat-option value="ฝ่ายจัดการองค์ความรู้ (KM)">ฝ่ายจัดการองค์ความรู้ (KM)</mat-option>
                <mat-option value="ฝ่ายดำเนินงานด้านการบริหารความเสี่ยง">ฝ่ายดำเนินงานด้านการบริหารความเสี่ยง</mat-option>
                <mat-option value="เปิดหลักสูตรใหม่">เปิดหลักสูตรใหม่</mat-option>
                <mat-option value="เอกสารประชุม กบค">เอกสารประชุม กบค</mat-option>
                <mat-option value="เว็บและโมบายเทคโนโลยี">เว็บและโมบายเทคโนโลยี</mat-option>
                <mat-option value="ประเมินผลการปฏิบัติงาน/การพิจารณาความดีความชอบ">ประเมินผลการปฏิบัติงาน/การพิจารณาความดีความชอบ</mat-option>
                <mat-option value="งบพัฒนาวิชาการและงานวิจัย">งบพัฒนาวิชาการและงานวิจัย</mat-option>
                <mat-option value="กองทุนคณะวิทยาศาสตร์ 2545">กองทุนคณะวิทยาศาสตร์ 2545</mat-option>
                <mat-option value="หนังสือเชิญคณบดี">หนังสือเชิญคณบดี</mat-option>
                <mat-option value="โครงการศูนย์นวัตกรรม">โครงการศูนย์นวัตกรรม</mat-option>
                <mat-option value="คณิตศาสตร์และเทคโนโลยีสารสนเทศ(ป.โท)">คณิตศาสตร์และเทคโนโลยีสารสนเทศ(ป.โท)</mat-option>
                <mat-option value="ศิษย์เก่า">ศิษย์เก่า</mat-option>
                <mat-option value="เทคโนโลยีการพัฒนาผลิตภัณฑ์">เทคโนโลยีการพัฒนาผลิตภัณฑ์</mat-option>
                <mat-option value="ผลงานนักศึกษา">ผลงานนักศึกษา</mat-option>
                <mat-option value="ผลงานอาจารย์">ผลงานอาจารย์</mat-option>
                <mat-option value="นวัตกรรมอาหาร">นวัตกรรมอาหาร</mat-option>
                <mat-option value="วิทยาการคอมพิวเตอร์ ป.ตรี">วิทยาการคอมพิวเตอร์ ป.ตรี</mat-option>
                <mat-option value="วิทยาการคอมพิวเตอร์ ป.โท">วิทยาการคอมพิวเตอร์ ป.โท</mat-option>
                <mat-option value="ศูนย์ความเป็นเลิศ CODX">ศูนย์ความเป็นเลิศ CODX</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <input  #ogManuscript  matInput placeholder="ต้นฉบับ" [value]="ob.ogManuscript" required>
            
            
        </mat-form-field>
        <mat-form-field>
            <input #copy matInput placeholder="สำเนา" [value]="ob.copy" >
                <!-- AutoCompete docOwner-->
            
                <!-- AutoCompete docOwner-->
        </mat-form-field>  
              
        <mat-form-field>
                <mat-select #status placeholder="สถานะ" [value]="ob.status" >
                    <mat-option value="ยังไม่เสร็จสิ้น">ยังไม่เสร็จสิ้น</mat-option>
                    <mat-option value="เสร็จสิ้นแล้ว">เสร็จสิ้นแล้ว</mat-option>
                    <mat-option value="รับเรื่องแล้ว">รับเรื่องแล้ว</mat-option>
                    <mat-option value="อยู่ระหว่างการพิจารณา">อยู่ระหว่างการพิจารณา</mat-option>
                    <mat-option value="ส่งหน่วยงานที่เกี่ยวข้อง">ส่งหน่วยงานที่เกี่ยวข้อง</mat-option>
                    <mat-option value="อนุมัติ">อนุมัติ</mat-option>
                    <mat-option value="ไม่อนุมัติ">ไม่อนุมัติ</mat-option>
                    <mat-option value="รับทราบ">รับทราบ</mat-option>
                    <mat-option value="ลงนาม">ลงนาม</mat-option>
                </mat-select>
        </mat-form-field>
        
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="submit" mat-flat-button mat-dialog-close (click)=" classificationdata(files.value,ogManuscript.value,copy.value,status.value)">ENTER</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
