<h2 mat-dialog-title>Edit Data</h2>
<mat-dialog-content >
    <div class="example-container">
        <mat-form-field>
            <textarea #titleName matInput placeholder="หัวข้อเรื่อง" [value]="ob.titleName"></textarea>
        </mat-form-field>
              
        <mat-form-field>
            <input #docOwner matInput placeholder="เจ้าของเรื่อง" [value]="ob.docOwner">
        </mat-form-field>

        <mat-form-field >
            <input #docDate  matInput [matDatepicker]="picker" placeholder="วันที่ของเอกสาร" [value]="ob.docDate.iso">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input #ogManuscript matInput placeholder="ต้นฉบับ" [value]="ob.ogManuscript">
        </mat-form-field>
              
        <mat-form-field>
            <mat-select #status placeholder="สถานะ" [value]="ob.status">
                <mat-option value="กำลังดำเนินการ">กำลังดำเนินการ</mat-option>
                <mat-option value="เสร็จ">เสร็จ</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <textarea #comment maxlength="256" matInput placeholder="หมายเหตุ" required [value]="ob.comment"></textarea>
            <mat-hint align="end">{{comment.value.length}} / 256</mat-hint>
        </mat-form-field>
        
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="submit" mat-flat-button mat-dialog-close (click)="editdata(titleName.value,docOwner.value,docDate.value,ogManuscript.value,status.value,comment.value)">ENTER</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
