<h2 mat-dialog-title>Edit Data</h2>
<mat-dialog-content >
    <div class="example-container">
        <mat-form-field>
            <textarea #v1 matInput placeholder="หัวข้อเรื่อง" [value]="ob.titleName"></textarea>
        </mat-form-field>
              
        <mat-form-field>
            <input #v2 matInput placeholder="เจ้าของเรื่อง" [value]="ob.docOwner">
        </mat-form-field>

        <mat-form-field >
            <input #v3  matInput [matDatepicker]="picker" placeholder="วันที่ของเอกสาร" [value]="ob.docDate.iso">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input #v4 matInput placeholder="ต้นฉบับ" [value]="ob.ogManuscript">
        </mat-form-field>

        <mat-form-field>
            <input type="number" #v5 matInput placeholder="จำนวนเงิน" [value]="ob.amount">
        </mat-form-field>
              
        <mat-form-field>
            <mat-select #v6 placeholder="สถานะ" [value]="ob.status">
                <mat-option value="กำลังดำเนินการ">กำลังดำเนินการ</mat-option>
                <mat-option value="เสร็จ">เสร็จ</mat-option>
            </mat-select>
        </mat-form-field>
        
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="submit" mat-flat-button mat-dialog-close (click)="editdata(v1.value,v2.value,v3.value,v4.value,v5.value,v6.value)">ENTER</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
