<h2 mat-dialog-title>Advance Search</h2>
<mat-dialog-content class="ass" >
    
    <div class="example-container">
        
            <h2>วันรับเอกสาร</h2>
        <mat-form-field class="ass">
            <input #createdAt1  matInput [matDatepicker]="picker1" placeholder="วันที่ของเอกสาร">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="ass">
            <input #createdAt2  matInput [matDatepicker]="picker2" placeholder="วันที่ของเอกสาร">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <h2>วันที่ของเอกสาร</h2>
            <mat-form-field class="ass">
                <input #docDate1 matInput [matDatepicker]="picker3" placeholder="วันที่ของเอกสาร" >
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field class="ass">
                <input #docDate2  matInput [matDatepicker]="picker4" placeholder="วันที่ของเอกสาร">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field> 
            <h2>รายละเอียดเอกสาร</h2>
            <mat-form-field class="ass">
                <input #docOwner  matInput placeholder="เจ้าของเรื่อง">
            </mat-form-field>
    
            <mat-form-field class="ass">
                <input #title  matInput placeholder="หัวข้อเรื่อง">
            </mat-form-field>

            <mat-form-field class="ass">
                <input #comment   matInput placeholder="หมายเหตุ">
            </mat-form-field>
            
            <mat-form-field  >
                <mat-select #status placeholder="สถานะ" >
                    <mat-option value="ยังไม่เสร็จสิ้น">ยังไม่เสร็จสิ้น</mat-option>
                    <mat-option value="เสร็จสิ้นแล้ว">เสร็จสิ้นแล้ว</mat-option>
                    <mat-option value="รับเรื่องแล้ว">รับเรื่องแล้ว</mat-option>
                    <mat-option value="อยู่ระหว่างการพิจารณา">อยู่ระหว่างการพิจารณา</mat-option>
                    <mat-option value="ส่งหน่วยงานที่เกี่ยวข้อง">ส่งหน่วยงานที่เกี่ยวข้อง</mat-option>
                    <mat-option value="อนุมัติ">อนุมัติ</mat-option>
                    <mat-option value="ไม่อนุมัติ">ไม่อนุมัติ</mat-option>
                    <mat-option value="รับทราบ">รับทราบ</mat-option>
                    <mat-option value="ลงนาม">ลงนาม</mat-option>
                </mat-select>
            </mat-form-field>    
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="submit" mat-button mat-dialog-close (click)="searchDataD(createdAt1.value,createdAt2.value,docDate1.value,docDate2.value,docOwner.value,title.value,comment.value,status.value)" >Submit</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
