<h2 mat-dialog-title>File Data</h2>
<mat-dialog-content class="ww">
    <div class="example-container mat-elevation-z8" >
        <table mat-table [dataSource]="datare2" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- filename Column -->
            <ng-container matColumnDef="filename">
                <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์</th>
                <td mat-cell *matCellDef="let element"> {{element.file.name}} </td>
            </ng-container>
        
            <!-- download Column -->
            <ng-container matColumnDef="download">
                <th mat-header-cell *matHeaderCellDef>ดึง</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button  ><mat-icon>save_alt</mat-icon></button>
                </td>
            </ng-container>
        
            <!-- delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>ลบ</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button ><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="onclicktestdata(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    
    <input type="file" name="image" (change)="fileProgress($event)" />
    <button type="submit" (click)="callupload()" mat-button mat-dialog-close >Upload</button>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
